* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}
body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
}

/*Header */

h1 {
  padding-left: 8px;
}

header {
  margin-top: 25px;
  display: flex;
  align-items: center;
  height: 70px;
  flex-direction: row;
  /*position: fixed;*/
}

.title {
  padding-top: 25px;
}

.logo {
  flex-grow: 1;
  display: flex;
}

.logo img {
  /*width: 100px;*/
  height: 100px;
  padding-top: 15px;
  margin-left: 20px;
}

/* navigation */
nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
  color: black;
}

/* navigation icons */

.menu-icon {
  display: none;
  margin-right: 30px;
}

/*Dark/Light mode button*/
#toggleButton {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  padding: 5px;
}

#toggleButton {
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 34px;
  cursor: pointer;
}

/*Header small display*/
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  header {
    position: relative;
  }
  header nav {
    position: absolute;
    top: 70px;
    width: 100%;
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 23px;
  }

  header nav li {
    display: block !important;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  hr {
      display: none;
  }
}

/* Sekce */

.content {
  text-align: center;
}

.welcome {
  padding-top: 115px;
  padding-bottom: 50px;
}

#install {
  padding-top: 50px;
}

#node {
  padding-top: 50px;
  padding-bottom: 50px;
}

#plans {
  padding-top: 50px;
  padding-bottom: 50px;
}


#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

#other {
  padding-top: 50px;
}

/*Code box*/
.code-box {
  background-color: #353535;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
  max-width: 400px;
  margin: 0 auto;
}

/*Picture settings*/

.sat {
  width: 175px;
  height: 175px;
}

.photo {
  text-align: center;
  padding-top: 50px;
}
.photo img {
  width: 300px;
  height: 200px;
  margin: 10px;
  transition: all 0.5s linear;
}
/*footer pevná pozice*/

footer {
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top: 20px;
}

footer a {
  text-decoration: none;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*butoon přes obsah*/
  z-index: 99;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background-color: transparent;
}

/* Styl pro ikonu */
#scrollToTopBtn i {
  font-size: 34px;
}
