:root {
	--dracula-body-bg: #2a232b;
	--dracula-color: #f8f8f2;
	--dracula-header-bg: #2a232b;
	--dracula-scrollToTopBtn-color: #9fea8a;
	--dracula-links-color: #f76b00;
	--dracula-nav-bg: #2a232b;
	--dracula-nav-links-color: #f76b00;
	--dracula-h1-color: #e54472;
	--dracula-h2-color: #18f700;
	--dracula-solid-bg: #2a232b;
	--dracula-solid-color: #f76b00;
	--dracula-footer-bg: #2a232b;
}
