@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("colors.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--dracula-body-bg);
  color: var(--dracula-color);
}

/*Header */

h1 {
  padding-left: 8px;
}

header {
  margin-top: 25px;
  display: flex;
  align-items: center;
  height: 70px;
  flex-direction: row;
  /*position: fixed;*/
  background-color: var(--dracula-header-bg);
}

a {
  color: var(--dracula-links-color);
}
.title {
  padding-top: 25px;
}

.title {
  flex-grow: 1;
  display: flex;
}

/* navigation */
nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
  color: var(--dracula-nav-links-color);
}

.navigation {
  background-color: var(--dracula-nav-bg);
}

h1 {
  color: var(--dracula-h1-color);
}

h2 {
  color: var(--dracula-h2-color);
}

.fa-solid {
  background-color: var(--dracula-solid-bg);
  color: var(--dracula-solid-color);
}
/* navigation icons */

.menu-icon {
  display: none;
  margin-right: 30px;
}

/*Header small display*/
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  header {
    position: relative;
  }
  header nav {
    position: absolute;
    top: 70px;
    width: 100%;
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 23px;
  }

  header nav li {
    display: block !important;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Sekce */

.content {
  text-align: center;
}

#welcome {
  padding-top: 50px;
  padding-bottom: 50px;
}

#install {
  padding-top: 50px;
}

#node {
  padding-top: 50px;
  padding-bottom: 50px;
}

#apollo {
  padding-top: 50px;
  padding-bottom: 50px;
}

#coc {
  padding-top: 50px;
  padding-bottom: 50px;
}

#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

#plugin {
  padding-top: 50px;
}

#other {
  padding-top: 50px;
}


/*Code box*/
.code-box {
  background-color: #353535;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Picture settings*/

.sat {
  width: 175px;
  height: 175px;
}

.photo {
  text-align: center;
  padding-top: 50px;
}
.photo img {
  width: 300px;
  height: 200px;
  margin: 10px;
  transition: all 0.5s linear;
}
/*footer pevná pozice*/

footer {
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top: 20px;
}

footer a {
  text-decoration: none;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*butoon přes obsah*/
  z-index: 99;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--dracula-scrollToTopBtn-color);
}

/* Styl pro ikonu */
#scrollToTopBtn i {
  font-size: 34px;
}


/*Instalace*/

.list ul  {
list-style-type: none;
}

.list {
  padding-top: 50px;
  padding-bottom: 50px;
}

#plug-vim {
  padding-top: 50px;
  padding-bottom: 50px;
}

.h2-install {
	padding-bottom: 15px;
}
